<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-sm-4">
          <div class="footer-site-side">
            <h2>Hashtag</h2>
            <p>
              感想や質問やなんやかんや等をTwitterのハッシュタグ<a href="https://twitter.com/search?q=%23yorisilofm">#yorisilofm</a>までお寄せいただけると嬉しいです．
            </p>
          </div>
        </div>
        <div class="footer-col col-sm-4">
          <div class="footer-site-side">
            <ul class="list-inline">
              <li>
                <a href="http://twitter.com/{{site.twitter}}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://github.com/{{site.github}}" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
              </li>
              <li>
                <a href="http://{{site.hatena}}.hatenablog.com" class="btn-social btn-outline"><i class="fa fa-fw fa-question"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-col col-sm-4">
          <div class="footer-site-side">
            <h2>Subscribe</h2>
            <p>
              RSSを購読すると新しいポッドキャストの投稿を自動でダウンロード，再生できます．
            </p>
            <ul class="list-unstyled">
              <li>
                <a href="/podcastfeed.xml"><i class="fa fa-rss"></i> RSS</a>
              </li>
              <li>
                <a href="https://itunes.apple.com/jp/podcast/yorisilo-yiri-dai/id951335287"><i class="fa fa-apple"></i> iTunes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          yorisilo site is inspired by <a href="http://spinb.in/">spinb.in</a>
        </div>
      </div>
    </div>
  </div>
</footer>
